model_config_list: {
    config {
        name: "tf_model"
        base_path: "/models/tf_model"
        model_platform: "tensorflow"
        model_version_policy: {
             specific {
                versions: 1
                versions: 2
            }
        }
        version_labels {
            key: "version_one"
            value: 1
        }
        version_labels {
            key: "version_two"
            value: 2
        }
    }
}